<template>
  <div class="home">
    <h1 class="text-center mt-5">Входная точка со списком роутов:</h1>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="text-center">
            <router-link to="/user">Список людей</router-link>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'home',
}
</script>
