<template>
  <div class="user-profile">
    <div class="text-center">
      <router-link to="/user" class="btn btn-primary text-center mt-3">К списку людей</router-link>
    </div>
    <h1 class="text-center mt-3 mb-5">Редактировать юзера - {{ user.id }}</h1>
    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <ul v-if="errors.length > 0">
            <li v-for="e in errors" :key="e">{{ e }}</li>
          </ul>
          <form class="mb-5">
            <div class="form-group">
              <label for="surname">Фамилия</label>
              <input v-model="surname" type="text" class="form-control" id="surname">
            </div>
            <div class="form-group">
              <label for="name">Имя</label>
              <input v-model="name" type="text" class="form-control" id="name">
            </div>
            <div class="form-group">
              <label for="patronymic">Отчество</label>
              <input v-model="patronymic" type="text" class="form-control" id="patronymic">
            </div>
            <div class="form-group">
              <label for="birthdate">Дата рождения</label>
              <input v-model="birthdate" type="text" class="form-control" id="birthdate">
            </div>
            <div class="form-group">
              <label for="gender">Пол</label>
              <select v-model="gender" class="form-control" id="gender">
                <option value="Мужской">Мужской</option>
                <option value="Женский">Женский</option>
              </select>
            </div>
            <div class="form-group">
              <label for="address">Место жительства</label>
              <input v-model="address" type="text" class="form-control" id="address">
            </div>
            <button @click.prevent="updateUser" class="btn btn-primary">Обновить</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'userEdit',

  data () {
    return {
      user: {},
      errors: [],
      surname: '',
      name: '',
      patronymic: '',
      birthdate: '',
      gender: '',
      address: ''
    }
  },

  created () {
    this.prefillUser()
  },

  mounted () {
  },

  methods: {
    getUserProfileById () {
      let user = this.$store.state.people.filter(p => p.id == this.$route.params.id)
      this.user = user[0]
    },
    prefillUser () {
      let userData = this.$store.getters.getUserById(this.$route.params.id)
      this.user = userData[0]
      this.surname = this.user.surname
      this.name = this.user.name
      this.patronymic = this.user.patronymic
      this.birthdate = this.user.birthdate
      this.gender = this.user.gender.charAt(0).toUpperCase() + this.user.gender.slice(1)
      this.address = this.user.address
    },
    updateUser () {
      
    }
  }
}
</script>
