<template>
  <div class="home">
    <div class="text-center">
      <router-link to="/user" class="btn btn-primary text-center mt-3">К списку людей</router-link>
    </div>
    <h1 class="text-center mt-5 mb-5">Добавить человека</h1>
    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <ul v-if="errors.length > 0">
            <li v-for="e in errors" :key="e">{{ e }}</li>
          </ul>
          <form class="mb-5">
            <div class="form-group">
              <label for="surname">Фамилия</label>
              <input v-model="surname" type="text" class="form-control" id="surname">
            </div>
            <div class="form-group">
              <label for="name">Имя</label>
              <input v-model="name" type="text" class="form-control" id="name">
            </div>
            <div class="form-group">
              <label for="patronymic">Отчество</label>
              <input v-model="patronymic" type="text" class="form-control" id="patronymic">
            </div>
            <div class="form-group">
              <label for="birthdate">Дата рождения</label>
              <input v-model="birthdate" type="text" class="form-control" id="birthdate">
            </div>
            <div class="form-group">
              <label for="gender">Пол</label>
              <select v-model="gender" class="form-control" id="gender">
                <option value="Мужской">Мужской</option>
                <option value="Женский">Женский</option>
              </select>
            </div>
            <div class="form-group">
              <label for="address">Место жительства</label>
              <input v-model="address" type="text" class="form-control" id="address">
            </div>
            <button @click.prevent="saveUser" class="btn btn-primary">Сохранить</button>
          </form>
        </div>
      </div>
    </div>
    <router-view/>
  </div>
</template>

<script>

export default {
  name: 'addUser',

  data () {
    return {
      errors: [],
      surname: '',
      name: '',
      patronymic: '',
      birthdate: '',
      gender: '',
      address: ''
    }
  },

  mounted () {
  },

  computed: {
    surnameState () {
      return this.surname.length > 0
    }
  },

  methods: {
    saveUser () {
      this.errors = []

      if (!this.surname) {
        this.errors.push('Фамилия обязательна')
      }
      if (!this.name) {
        this.errors.push('Имя обязательно')
      }
      if (!this.patronymic) {
        this.errors.push('Отчество обязательно')
      }
      if (!this.birthdate) {
        this.errors.push('Дата рождения обязательна')
      }
      if (!this.gender) {
        this.errors.push('Пол обязателен')
      }
      if (!this.address) {
        this.errors.push('Адрес обязателен')
      }

      if (this.errors.length == 0) {
        let userData = {
          id: this.$store.state.people.length + 1,
          surname: this.surname,
          name: this.name,
          patronymic: this.patronymic,
          birthdate: this.birthdate,
          gender: this.gender,
          address: this.address
        }
        this.$store.dispatch('saveUser', userData)
        this.$router.push('/user')
      }
    }
  }
}
</script>

<style lang="scss" scoped>
</style>
