<template>
  <div class="home">
    <div class="text-center">
      <router-link to="/" class="btn btn-primary text-center mt-3">Назад на главную</router-link>
    </div>
    <h1 class="text-center mt-5">Список людей</h1>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="text-left mb-3">
            <button @click="userAdd" class="btn btn-success"><font-awesome-icon icon="user-plus"/> Добавить человека</button>
          </div>
          <div class="form-row">
            <div class="form-group col">
              <label for="surname">Фамилия</label>
              <input @keyup="searchFilter(surname)" v-model="surname" type="text" class="form-control" id="surname">
            </div>
            <div class="form-group col">
              <label for="name">Имя</label>
              <input v-model="name" type="text" class="form-control" id="name">
            </div>
            <div class="form-group col">
              <label for="patronymic">Отчество</label>
              <input v-model="patronymic" type="text" class="form-control" id="patronymic">
            </div>
            <div class="form-group col">
              <label for="birthdate">Дата рождения</label>
              <input v-model="birthdate" type="text" class="form-control" id="birthdate">
            </div>
            <div class="form-group col">
              <label for="document">Номер документа</label>
              <input v-model="document" type="text" class="form-control" id="document">
            </div>
          </div>
          <table class="table">
            <thead>
              <tr>
                <th>ФИО</th>
                <th>Дата рождения</th>
                <th>Пол</th>
                <th>Место жительства</th>
                <th>Номер документа</th>
                <th>Действия</th>
              </tr>
            </thead>
            <tbody>
              <tr 
                v-for="p in $store.state.people"
                :key="p.id"
              >
                <td>{{ `${p.surname} ${p.name} ${p.patronymic}` }}</td>
                <td>{{ p.birthdate }}</td>
                <td>{{ p.gender }}</td>
                <td>{{ p.address }}</td>
                <td>{{ getDocumentNumberById(p.id) }}</td>
                <td>
                  <button @click="editUser(p.id)" class="btn btn-success"><font-awesome-icon icon="edit"/></button>
                  <button @click="removeUser(p.id)" class="btn btn-danger"><font-awesome-icon icon="user-times"/></button>
                  <button @click="showUserProfile(p.id)" class="btn btn-primary"><font-awesome-icon icon="eye"/></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <router-view/>
  </div>
</template>

<script>

export default {
  name: 'users',

  data () {
    return {
      surname: '',
      name: '',
      patronymic: '',
      birthdate: '',
      document: '',
      people: []
    }
  },

  mounted () {
  },

  computed: {
    getPeopleList () {
      if (!this.surname && !this.name && !this.patronymic && !this.birthdate && !this.document) {
        this.people = this.$store.state.people
      }
    }
  },

  methods: {
    getDocumentNumberById (userId) {
      let documentNumber = this.$store.state.documents.filter(d => d.userId == userId)
      return documentNumber[0] ? documentNumber[0].number : 'нет документа'
    },
    showUserProfile (userId) {
      this.$router.push({ path: `/user/${userId}` })
    },
    editUser (userId) {
      this.$router.push({ path: `/user/${userId}/edit` })
    },
    userAdd () {
      this.$router.push('/user/add')
    },
    removeUser (userId) {
      this.$store.dispatch('removeUser', { id: userId })
    },
    searchFilter (type) {
      this.people = this.$store.state.people.filter(p => {
        return p.surname.toLowerCase().includes(this.surname.toLowerCase())
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.btn {
  margin-right: 5px;
}
</style>
