<template>
  <div class="user-profile">
    <div class="text-center">
      <router-link to="/user" class="btn btn-primary text-center mt-3">К списку людей</router-link>
    </div>
    <h1 class="text-center mt-3 mb-5">{{ `${user.surname} ${user.name} ${user.patronymic}` }}</h1>
    <div class="container">
      <div class="row">
        <div class="col-md-3 offset-md-3"><strong>Дата рождения</strong></div>
        <div class="col-md-3">{{ user.birthdate }}</div>
        <div class="w-100"></div>
        <div class="col-md-3 offset-md-3"><strong>Пол</strong></div>
        <div class="col-md-3">{{ user.gender }}</div>
        <div class="w-100"></div>
        <div class="col-md-3 offset-md-3"><strong>Место жительства</strong></div>
        <div class="col-md-3">{{ user.address }}</div>
      </div>

      <div class="row">
        <div class="col-md-12">
          
        </div>
      </div>
      
      <div v-if="document" class="row">
        <div class="col-md-3 offset-md-3"><h4 class="mt-5 text-success">Документ</h4></div>
        <div class="w-100"></div>
        <div class="col-md-3 offset-md-3"><strong>Номер документа</strong></div>
        <div class="col-md-6">{{ document.number }}</div>
        <div class="w-100"></div>
        <div class="col-md-3 offset-md-3"><strong>Тип документа</strong></div>
        <div class="col-md-6">{{ document.type }}</div>
        <div class="w-100"></div>
        <div class="col-md-3 offset-md-3"><strong>Орган выдавший документ</strong></div>
        <div class="col-md-6">{{ document.issuer }}</div>
        <div class="w-100"></div>
        <div class="col-md-3 offset-md-3"><strong>Дата выдачи</strong></div>
        <div class="col-md-6">{{ document.dateOfIssue }}</div>
        <div class="w-100"></div>
        <div class="col-md-3 offset-md-3"><strong>Дата истечения срока действия</strong></div>
        <div class="col-md-6">{{ document.expireDate }}</div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'userProfile',

  data () {
    return {
      user: {},
      document: {}
    }
  },

  created () {
    this.getUserProfileById()
    this.getUserDocumentById()
  },

  mounted () {
    // console.log(user.id)
  },

  methods: {
    getUserProfileById () {
      let user = this.$store.state.people.filter(p => p.id == this.$route.params.id)
      this.user = user[0]
    },
    getUserDocumentById () {
      let document = this.$store.state.documents.filter(d => d.userId == this.$route.params.id)
      this.document = document[0]
    }
  }
}
</script>
